.calculator {
  width: 200px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}

.display {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #222;
  color: white;
  text-align: right;
}

.buttons button {
  width: 45px;
  height: 45px;
  margin: 5px;
}

.operator {
  color: #daa520;
}

.buttons .clear,
.buttons .equals,
.buttons .backspace {
  border-radius: 10px;
}
